<div class="d-flex justify-content-end">
  <div class="row g-3 mb-3 align-items-center">
  <div class="col-auto">
    <label for="nameSearch" class="col-form-label">Filter by name:</label>
  </div>
  <div class="col-auto">
    <input [(ngModel)]="nameSearch" type="text" id="nameSearch" class="form-control" aria-describedby="nameSearch">
  </div>
  <div class="col-auto">
    <button type="button" class="btn btn-primary" (click)="loadCities()">Go</button>
  </div>
</div>
</div>
<table class="table table-striped">
  <thead>
    <tr class="table-info">
      <th>Id</th>
      <th>Name</th>
      <th>Photo</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let city of cities" class="align-middle">
      <td>{{ city.id }}</td>
      <td>{{ city.name }}</td>
      <td>
        <img
          src="{{ city.photo }}"
          alt="{{ city.name }}"
          width="100"
          height="100"
        />
      </td>
      <td>
        <a
          type="button"
          class="btn btn-outline-warning"
          [href]="'/city/' + city.id"
          placement="end"
          ngbTooltip="Edit"
        >
          <i class="bi bi-pencil big"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-center">
  <ngb-pagination
    [page]="page"
    (pageChange)="onPageChange($event)"
    [pageSize]="size"
    [collectionSize]="totalCount"
    [boundaryLinks]="true"
    [maxSize]="7"
  ></ngb-pagination>
</div>

<div class="d-flex justify-content-end mb-3">
  <label class="form-label col-form-label col-1" for="pageSizeSelect">Page size</label>
  <div class="col-1">
    <select
      class="form-select form-select-sm"
      id="pageSizeSelect"
      aria-label="Page size select"
      #pageSizeSelect
      (change)="onPageSizeChange(+pageSizeSelect.value)"
    >
      <option *ngFor="let pageSize of pageSizes" [selected]="pageSize === size">
        {{ pageSize }}
      </option>
    </select>
  </div>
</div>
