@if (loginForm) {
  <div class="d-flex justify-content-center">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="col-10">
      <div class="mb-3 row">
        <label for="username" class="form-label col-2 col-form-label"
          >Username:</label
          >
          <div class="col-10">
            <input
              class="form-control"
              id="username"
              formControlName="username"
              placeholder="Username"
              />
              @if (
                loginForm.get('username')?.invalid &&
                (loginForm.get('username')?.dirty ||
                loginForm.get('username')?.touched)
                ) {
                <div
                  class="form-text text-danger"
                  id="userNameError"
                  >
                  Please provide a user name.
                </div>
              }
            </div>
          </div>
          <div class="mb-3 row">
            <label for="password" class="form-label col-2 col-form-label"
              >Password:</label
              >
              <div class="col-10">
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  formControlName="password"
                  placeholder="Password"
                  />
                  @if (
                    loginForm.get('password')?.invalid &&
                    (loginForm.get('password')?.dirty ||
                    loginForm.get('password')?.touched)
                    ) {
                    <div
                      class="form-text text-danger"
                      id="passwordError"
                      >
                      Please provide a password.
                    </div>
                  }
                </div>
              </div>
              @if (loginError) {
                <div class="form-text text-danger">
                  Login failed. Please try again.
                </div>
              }
              <div class="d-flex justify-content-end">
                <button
                  class="btn btn-primary"
                  type="submit"
                  id="loginButton"
                  [disabled]="loginForm.invalid || loading"
                  >
                  Login
                </button>
              </div>
            </form>
          </div>
        }
